<form [formGroup]="invoicesForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-content>
      <mat-card-title>Префикс / от кочан:</mat-card-title>
      <p>
        <mat-select placeholder="Изберете префикс" formControlName="prefix">
          <mat-option
            *ngFor="let prefix of prefixes; let i = index"
            [value]="i"
            >{{
              prefix.prefix + ' - ' + formatInvNumber(prefix.nextNum)
            }}</mat-option
          >
        </mat-select>
      </p>
      <mat-card-subtitle>
        Номер на фактурата: {{ formatInvNumber() }}
      </mat-card-subtitle>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <crtvs-base-form
        formControlName="receiver"
        [isNotSettings]="true"
        header="Получател"
      ></crtvs-base-form>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <crtvs-doc-type-form
        formControlName="doc_type"
        [currencyList]="currencyList"
        [selectedCurrency]="selectedCurrency"
        [isInvoice]="true"
      ></crtvs-doc-type-form>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <crtvs-base-form-items
        formControlName="invoice_items"
        [selectedCurrency]="selectedCurrency"
        [items]="invItems"
      ></crtvs-base-form-items>
    </mat-card-content>
  </mat-card>
  <mat-card-actions>
    <button class="btn-submit" aria-label="изпрати формуляра" mat-raised-button>
      Изпрати
    </button>
  </mat-card-actions>
</form>
