div {
  box-sizing: border-box;
}
form {
  max-width: 90%;
  margin: 0 auto;
  padding: 10px;
}
tr td {
  padding-right: 10px !important;
}
mat-icon {
  color: rgb(48, 48, 48);
}
mat-card {
  margin-top: 20px;
}
.btn-submit {
  margin-top: 10px;
}
.title {
  margin: 20px 0;
  font-weight: 600;
  color: rgb(48, 48, 48);
  font-size: 1.2em;
}
.hidden {
  display: none !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.9em 0 0.8em 0 !important;
  margin-top: -4px;
}

