<form [formGroup]="invoicesForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-title>Префикс / от кочан:</mat-card-title>
    <mat-label class="title">00 - 00000000000000</mat-label>
  </mat-card>
  <div class="container">
    <mat-card>
      <div class="col-1">
        <mat-card-header>
          <mat-card-title>Доставчик</mat-card-title>
        </mat-card-header>

        <mat-form-field>
          <input matInput placeholder="Доставчик" formControlName="p_name" />
        </mat-form-field>
        <div
          class="error"
          *ngIf="invoicesForm.get('p_name')?.errors?.['minlength'] || invoicesForm.get('p_name')?.errors?.['maxlength'] "
        >
          Доставчика трябва да е между 2 и 40 знака!
        </div>

        <mat-form-field>
          <input matInput placeholder="ЕИК" formControlName="p_eik" />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="ДДС номер"
            formControlName="p_ddsnumber"
          />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="МОЛ" formControlName="p_mol" />
          <button
            matSuffix
            class="search-btn"
            mat-icon-button
            color=""
            aria-label="search"
            matTooltip="Търсене от Базата"
          >
            <mat-icon class="search-icon">person_add</mat-icon>
          </button>
        </mat-form-field>

        <div
          class="error"
          *ngIf="invoicesForm.get('p_mol')?.hasError('pattern')"
        >
          МОЛ трябва да съдържа име и фамилия! Пъравата буква от името и
          фамилията трябва да бъдат с главна буква!
        </div>
        <div
          class="error"
          *ngIf="invoicesForm.get('p_mol')?.hasError('minlength')"
        >
          МОЛ трябва да съдържа поне 2 букви!
        </div>
        <div
          class="error"
          *ngIf="invoicesForm.get('p_mol')?.hasError('maxlength')"
        >
          МОЛ трябва да съдържа максимум 40 букви!
        </div>
        <mat-form-field>
          <input
            matInput
            placeholder="Населено място"
            formControlName="p_city"
          />
        </mat-form-field>
        <div
          class="error"
          *ngIf="invoicesForm.get('p_city')?.errors?.['maxlength'] || invoicesForm.get('p_city')?.errors?.['minlength']"
        >
          Населеното място трябва да е между 2 и 40 знака!
        </div>
        <mat-form-field>
          <input matInput placeholder="Адрес" formControlName="p_address" />
        </mat-form-field>
        <div
          class="error"
          *ngIf="invoicesForm.get('p_address')?.errors?.['maxlength'] || invoicesForm.get('p_address')?.errors?.['minlength']"
        >
          Адресът трябва да е между 2 и 60 знака!
        </div>
      </div>
    </mat-card>
    <mat-card>
      <div class="col-2">
        <mat-card-header>
          <mat-card-title>Получател</mat-card-title>
        </mat-card-header>
        <mat-form-field>
          <input
            matInput
            placeholder="Получател"
            formControlName="c_name"
          /><button
            matSuffix
            class="search-btn"
            mat-icon-button
            color=""
            aria-label="search"
            matTooltip="Търсене от Базата"
          >
            <mat-icon class="search-icon">search</mat-icon>
          </button>
        </mat-form-field>
        <div
          class="error"
          *ngIf="invoicesForm.get('c_name')?.errors?.['minlength'] || invoicesForm.get('c_name')?.errors?.['maxlength'] "
        >
          Получателят трябва да е между 2 и 40 знака!
        </div>
        <mat-checkbox color="primary" formControlName="c_person">
          Физическо лице
        </mat-checkbox>
        <mat-form-field id="receiverEik">
          <input matInput placeholder="ЕИК" formControlName="c_eik" /><button
            matSuffix
            class="search-btn"
            mat-icon-button
            color=""
            aria-label="search"
            matTooltip="Търсене от Базата"
          >
            <mat-icon class="search-icon">search</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field id="receiverEgn" class="hidden">
          <input matInput placeholder="ЕГН" formControlName="c_egn" /><button
            matSuffix
            class="search-btn"
            mat-icon-button
            color=""
            aria-label="search"
            matTooltip="Търсене от Базата"
          >
            <mat-icon class="search-icon">search</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field id="receiverVatNumber">
          <input
            matInput
            placeholder="ДДС номер"
            formControlName="c_ddsnumber"
          />
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="МОЛ" formControlName="c_mol" />
        </mat-form-field>
        <div
          class="error"
          *ngIf="invoicesForm.get('c_mol')?.hasError('pattern')"
        >
          МОЛ трябва да съдържа име и фамилия! Пъравата буква от името и
          фамилията трябва да бъдат с главна буква!
        </div>
        <div
          class="error"
          *ngIf="invoicesForm.get('c_mol')?.hasError('minlength')"
        >
          МОЛ трябва да съдържа поне 2 букви!
        </div>
        <div
          class="error"
          *ngIf="invoicesForm.get('c_mol')?.hasError('maxlength')"
        >
          МОЛ трябва да съдържа максимум 40 букви!
        </div>
        <mat-form-field>
          <input
            matInput
            placeholder="Населено място"
            formControlName="c_city"
          />
        </mat-form-field>
        <div
          class="error"
          *ngIf="invoicesForm.get('c_city')?.errors?.['maxlength'] || invoicesForm.get('c_city')?.errors?.['minlength']"
        >
          Населеното място трябва да е между 2 и 40 знака!
        </div>
        <mat-form-field>
          <input matInput placeholder="Адрес" formControlName="c_address" />
        </mat-form-field>
        <div
          class="error"
          *ngIf="invoicesForm.get('c_address')?.errors?.['maxlength'] || invoicesForm.get('c_address')?.errors?.['minlength']"
        >
          Адресът трябва да е между 2 и 40 знака!
        </div>
      </div>
    </mat-card>
  </div>
  <mat-card class="container">
    <mat-radio-group
      aria-label="Select an option"
      formControlName="type"
      class="grid-layout-top"
    >
      <mat-label class="title">Тип:</mat-label>
      <mat-radio-button color="primary" class="div01" value="1"
        >Фактура:</mat-radio-button
      >
      <mat-radio-button color="primary" class="div02" value="2"
        >Кредитно известие:</mat-radio-button
      >
      <mat-radio-button color="primary" class="div03" value="3"
        >Дебитно известие:</mat-radio-button
      >
    </mat-radio-group>
    <mat-form-field appearance="outline" class="datepicker">
      <mat-label>Дата на издаване</mat-label>
      <input
        matInput
        formControlName="issue_date"
        [matDatepicker]="issuedAtPicker"
      />

      <mat-datepicker-toggle matSuffix [for]="issuedAtPicker">
      </mat-datepicker-toggle>

      <mat-datepicker #issuedAtPicker color="primary"> </mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="datepicker">
      <mat-label>Дата на данъчно събитие</mat-label>
      <input
        matInput
        formControlName="event_date"
        [matDatepicker]="eventAtPicker"
      />

      <mat-datepicker-toggle matSuffix [for]="eventAtPicker">
      </mat-datepicker-toggle>

      <mat-datepicker #eventAtPicker color="primary"> </mat-datepicker>
    </mat-form-field>

    <mat-form-field class="currency" appearance="outline">
      <mat-label>Изберете валута</mat-label>
      <!-- <mat-select [(value)]="selectedCurrency" formControlName="currency"> -->
      <mat-select [(value)]="selectedCurrency" formControlName="currency">
        <mat-option *ngFor="let currency of currencies" [value]="currency.id">{{
          currency.code
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>
  <mat-card>
    <div class="table-container" role="table" aria-label="tableData">
      <div class="flex-table header" role="rowgroup">
        <div class="flex-row first" role="columnheader">
          <button
            class="icon-add-btn"
            mat-icon-button
            matTooltip="добавяне на ред"
            aria-label="добавяне на ред"
            (click)="addRow()"
            matTooltip="Добавяне на ред"
          >
            <mat-icon class="icon-add-btn">add</mat-icon>
          </button>
        </div>
        <div class="flex-row nameFieldHeader" role="columnheader">
          Наименование
        </div>
        <div class="flex-row qtyHeader" role="columnheader">Количество</div>
        <div class="flex-row measureHeader" role="columnheader">Мярка</div>
        <div class="flex-row unitPriceHeader" role="columnheader">Ед.цена</div>
        <div class="flex-row amountHeader" role="columnheader">Стойност</div>
      </div>
      <ng-container
        *ngFor="let row of rowData.controls; let i = index"
        ;let
        i="index"
      >
        <div class="flex-table row" role="rowgroup" formArrayName="rowData">
          <ng-container [formGroupName]="i">
            <div class="flex-row first delete" role="cell">
              <button
                class="icon-delete-btn"
                mat-icon-button
                matTooltip="изтриване на ред"
                aria-label="изтриване на ред"
                (click)="deleteRow(i)"
                [disabled]="rowData.length === 1"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>

            <div class="flex-row nameField second" role="cell">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Наименование"
                  aria-label="Наименование"
                  formControlName="name"
                />
              </mat-form-field>
            </div>
            <div class="flex-row third" role="cell">
              <mat-form-field class="">
                <input
                  matInput
                  placeholder="Количество"
                  aria-label="Количество"
                  formControlName="quantity"
                />
              </mat-form-field>
            </div>
            <div class="flex-row fourth" role="cell">
              <mat-form-field class="measure-select" appearance="outline">
                <mat-label>Мярка</mat-label>
                <mat-select aria-label="Мярка" formControlName="measurement">
                  <mat-option aria-label="брой" value="broi">брой</mat-option>
                  <mat-option aria-label="кутия" value="kutiq"
                    >кутия</mat-option
                  >
                  <mat-option aria-label="кашон" value="kashon"
                    >кашон</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div class="flex-row fifth" role="cell">
              <mat-form-field>
                <input
                  matInput
                  aria-label="Ед.цена"
                  placeholder="Ед.цена без ДДС"
                  formControlName="price"
                />
              </mat-form-field>
            </div>
            <div class="flex-row amount sixth" role="cell">
              <mat-form-field>
                <input
                  matInput
                  [formControlName]="'amount'"
                  [value]="calculateRowAmount(i)"
                  readonly
                />
              </mat-form-field>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <div class="flex-table row" role="rowgroup">
      <div class="flex-row right price" role="cell">Данъчна основа:</div>
      <div class="flex-row right priceNum" role="cell">
        <!-- <ng-container *ngIf="selectedCurrency.currencyCode === '€'"> -->
        <ng-container *ngIf="selectedCurrency.code === 'EUR'">
          {{ calculateTotalRowAmount() | number : '1.2-2' }} €
        </ng-container>
        <!-- <ng-container *ngIf="selectedCurrency.currencyCode === 'лв'"> -->
        <ng-container *ngIf="selectedCurrency.code === 'BGN'">
          {{ calculateTotalRowAmount() | number : '1.2-2' }} лв
        </ng-container>
      </div>
    </div>
    <div class="flex-table row">
      <div class="flex-row vatPercent right" role="cell">Начислен ДДС:</div>
      <div class="flex-row vat" role="cell">
        <mat-form-field>
          <input matInput placeholder="ДДС" formControlName="vatPercent" />
          <mat-icon matSuffix>percentage</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="flex-table row">
      <div class="flex-row sum right" role="cell">Общо:</div>
      <div class="flex-row right priceNum" role="cell">
        <ng-container *ngIf="selectedCurrency.code === 'EUR'">
          {{ calculateTotalAmountWthVat() | number : '1.2-2' }} €
        </ng-container>
        <ng-container *ngIf="selectedCurrency.code === 'лв'">
          {{ calculateTotalAmountWthVat() | number : '1.2-2' }} лв
        </ng-container>
      </div>
    </div>
    <div class="flex-table row">
      <div class="flex-row vatReason" role="cell">
        <mat-form-field>
          <input
            matInput
            placeholder="Основание за начисление на ДДС"
            formControlName="vatReason"
          />
        </mat-form-field>
      </div>
    </div>
    <mat-label class="title">Начин на плащане:</mat-label>
    <mat-radio-group
      aria-label="Select an option"
      formControlName="wayOfPaying"
      aria-label="Начин на плащане"
      class="grid-layout"
    >
      <mat-radio-button color="primary" class="div1" value="1"
        >В брой</mat-radio-button
      >
      <mat-radio-button color="primary" class="div2" value="2"
        >Наложен платеж</mat-radio-button
      >
      <mat-radio-button color="primary" class="div3" value="3"
        >С карта</mat-radio-button
      >
      <mat-radio-button color="primary" class="div4" value="4"
        >Платежно нареждане</mat-radio-button
      >
      <mat-radio-button color="primary" class="div5" value="5"
        >Чек / Ваучер</mat-radio-button
      >
      <mat-radio-button color="primary" class="div6" value="6"
        >С насрещно прихващане
      </mat-radio-button>
      <mat-radio-button color="primary" class="div7" value="7"
        >Други методи</mat-radio-button
      >
    </mat-radio-group>
  </mat-card>
  <button class="btn-submit" aria-label="изпрати формуляра" mat-raised-button>
    Изпрати
  </button>
</form>
