<mat-sidenav-container>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        class="transparent-background"
        *ngIf="isHandset"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="transparent-background"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon
          ><span class="material-icons"> account_circle </span></mat-icon
        >
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span routerLink="/profile">Profile</span>
        </button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span (click)="logout()">Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
  <mat-sidenav
    #drawer
    fixedInViewport="true"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="isHandset ? 'over' : 'side'"
    [opened]="isHandset === false"
  >
    <mat-list>
      <mat-list-item>
        <a routerLink="/"
          ><img src="https://creativiso.bg/img/logo-94955cf1a6.svg" alt=""
        /></a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon><span class="material-icons"> dashboard </span></mat-icon>
        <a routerLink="/">Dashboard</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon><span class="material-icons"> wysiwyg </span></mat-icon>
        <a routerLink="/invoices">Invoices</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>
          <span class="material-icons">article</span>
        </mat-icon>
        <a routerLink="/proformas">Proforms</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>
          <span class="material-icons">handshake</span>
        </mat-icon>
        <a routerLink="/contractors">Contractors</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>
          <span class="material-icons">settings</span>
        </mat-icon>
        <a routerLink="/settings">Settings</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>
          <span class="material-icons">group</span>
        </mat-icon>
        <a routerLink="/users">Users</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>
          <span class="material-icons">person</span>
        </mat-icon>
        <a routerLink="/profile">Profile</a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
</mat-sidenav-container>
