input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
mat-form-field {
  width: 100%;
}
.btn-submit {
  background-color: #172647;
  color: #f4f2f1;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.logo {
  padding-bottom: 20px;
}
