<form [formGroup]="proformasForm">
  <!--SUPPLIER INFO-->
  <div class="container">
    <mat-card>
      <div class="col-1">
        <mat-card-title>Доставчик</mat-card-title>

        <mat-form-field>
          <input
            matInput
            placeholder="Доставчик"
            formControlName="supplierName"
          />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="ЕИК" formControlName="supplierEik" />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="ДДС номер"
            formControlName="supplierVatNumber"
          />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="МОЛ" formControlName="supplierManager" />
          <button
            matSuffix
            class="search-btn"
            mat-icon-button
            color=""
            aria-label="search"
          >
            <mat-icon class="search-icon">person_add</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Населено място"
            formControlName="supplierCity"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Адрес"
            formControlName="supplierAddress"
          />
        </mat-form-field>
        <!--RECEIVER INFO-->
      </div>
    </mat-card>
    <mat-card>
      <div class="col-2">
        <mat-card-title>Получател</mat-card-title>
        <mat-form-field>
          <input
            matInput
            placeholder="Получател"
            formControlName="receiverName"
          /><button
            matSuffix
            class="search-btn"
            mat-icon-button
            color=""
            aria-label="search"
          >
            <mat-icon class="search-icon">search</mat-icon>
          </button>
        </mat-form-field>
        <mat-checkbox color="primary" formControlName="individualPerson">
          Физическо лице
        </mat-checkbox>
        <mat-form-field>
          <input
            matInput
            placeholder="ЕИК"
            formControlName="receiverEik"
          /><button
            matSuffix
            class="search-btn"
            mat-icon-button
            color=""
            aria-label="search"
          >
            <mat-icon class="search-icon">search</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="ДДС номер"
            formControlName="receiverVatNumber"
          />
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="МОЛ" formControlName="receiverManager" />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Населено място"
            formControlName="receiverCity"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Адрес"
            formControlName="receiverAddress"
          />
        </mat-form-field>
      </div>
    </mat-card>
  </div>
  <mat-card class="container">
    <mat-form-field appearance="outline">
      <input
        matInput
        formControlName="releasedAt"
        [matDatepicker]="releasedAtPicker"
      />

      <mat-datepicker-toggle matSuffix [for]="releasedAtPicker">
      </mat-datepicker-toggle>

      <mat-datepicker #releasedAtPicker color="primary"> </mat-datepicker>
    </mat-form-field>
    <mat-form-field class="currency" appearance="outline">
      <mat-label>Изберете валута</mat-label>
      <mat-select [(value)]="selected">
        <mat-option value="euro">Евро</mat-option>
        <mat-option value="dollar">Долар</mat-option>
        <mat-option value="lev">Лев</mat-option>
      </mat-select>
    </mat-form-field>
    <!--<p>Вие избрахте: {{ selected }}</p> -->
  </mat-card>

  <table
    formControlName="tableData"
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
  >
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>
        <button (click)="addRow()" mat-icon-button aria-label="addBtn">
          <mat-icon>add</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          (click)="deleteRow(element)"
          mat-icon-button
          aria-label="delete"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Наименование</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input
            [(ngModel)]="element.name"
            type="text"
            matInput
            placeholder="Наименование"
            formControlName="nameField"
          />
        </mat-form-field>
      </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="qty">
      <th mat-header-cell *matHeaderCellDef>Количество</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field class="">
          <input
            [(ngModel)]="element.qty"
            type="text"
            matInput
            placeholder="Количество"
            formControlName="quantity"
          />
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="measure">
      <th mat-header-cell *matHeaderCellDef>Мярка</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field appearance="outline">
          <mat-label>Мярка</mat-label>
          <mat-select [(ngModel)]="element.measure" [(value)]="selected">
            <mat-option value="broi">брой</mat-option>
            <mat-option value="box">кутия</mat-option>
            <mat-option value="box">кашон</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="unitPrice">
      <th mat-header-cell *matHeaderCellDef>Ед.цена без ДДС</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input
            [(ngModel)]="element.unitPrice"
            matInput
            placeholder="Ед.цена без ДДС"
            formControlName="priceWithoutVat"
          />
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Стойност</th>
      <td mat-cell *matCellDef="let element">
        <input
          [(ngModel)]="element.amount"
          matInput
          formControlName="amount"
          placeholder="0.00 лв"
          readonly
        />
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-card>
    <mat-card-title>Банкови детайли</mat-card-title>
    <mat-form-field>
      <input matInput placeholder="IBAN" formControlName="iban" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="BIC/SWIFT" formControlName="bicSwift" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Банка" formControlName="bankName" />
    </mat-form-field>
  </mat-card>
  <button
    class="btn-submit"
    color="primary"
    mat-raised-button
    (click)="submit()"
  >
    Изпрати
  </button>
</form>
