<form [formGroup]="proformasForm">
  <!--SUPPLIER INFO-->
  <div class="container">
    <div class="container-supplier">
      <div class="col-1">
        <mat-label>Доставчик</mat-label>
        <mat-form-field>
          <input
            matInput
            placeholder="Доставчик"
            formControlName="supplierName"
          />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="ЕИК" formControlName="supplierEik" />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="ДДС номер"
            formControlName="supplierVatNumber"
          />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="МОЛ" formControlName="supplierManager" />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Населено място"
            formControlName="supplierCity"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Адрес"
            formControlName="supplierAddress"
          />
        </mat-form-field>
        <!--RECEIVER INFO-->
      </div>
    </div>
    <div class="container-receiver">
      <div class="col-2">
        <mat-label>Получател</mat-label>
        <mat-form-field>
          <input
            matInput
            placeholder="Получател"
            formControlName="receiverName"
          />
        </mat-form-field>
        <mat-checkbox
          [formControl]="individualPerson"
          formControlName="individualPerson"
        >
          Физическо лице
        </mat-checkbox>
        <mat-form-field>
          <input matInput placeholder="ЕИК" formControlName="receiverEik" />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="ДДС номер"
            formControlName="receiverVatNumber"
          />
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="МОЛ" formControlName="receiverManager" />
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Град" formControlName="receiverCity" />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Адрес"
            formControlName="receiverAddress"
          />
        </mat-form-field>
      </div>
    </div>
  </div>

  <button mat-raised-button (click)="submit()">Submit</button>
</form>
