/*
color for icons: rgb(39, 38, 38)*/

form {
  max-width: 90%;
  margin: 0 auto;
  padding: 10px;
}

mat-form-field {
  width: 100%;
}

mat-form-field,
input {
  font-size: 14px;
}

button {
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
table {
  width: 99% !important;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -15px !important;
}

tr td {
  padding-right: 10px !important;
}

mat-icon {
  color: rgb(48, 48, 48);
}
mat-card {
  margin-top: 20px;
  margin-left: 10px;
}
mat-label {
  display: block;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 1px;
  grid-template-areas: '. .';
}

.col-1,
.col-2 {
  padding: 11px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.mat-form-field-wrapper .ng-tns-c108-19 {
  top: -9.7px !important;
}

.grid-table {
  display: grid;
  grid-template-columns: 1fr 4fr repeat(3, 1fr);
  grid-template-rows: repeat(8, 0.5fr) 1.25fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 10px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
}
.div4 {
  grid-area: 1 / 4 / 2 / 5;
}
.div5 {
  grid-area: 1 / 5 / 2 / 6;
}
.div6 {
  grid-area: 2 / 4 / 3 / 5;
}
.div7 {
  grid-area: 2 / 5 / 3 / 6;
}
.div8 {
  grid-area: 3 / 4 / 4 / 5;
}
.div9 {
  grid-area: 3 / 5 / 4 / 6;
}
.div10 {
  grid-area: 4 / 4 / 5 / 5;
}
.div11 {
  grid-area: 4 / 5 / 5 / 6;
}
.div12 {
  grid-area: 5 / 4 / 6 / 5;
}
.div13 {
  grid-area: 5 / 5 / 6 / 6;
}
.div14 {
  grid-area: 6 / 4 / 7 / 5;
}
.div15 {
  grid-area: 6 / 5 / 7 / 6;
}
.div16 {
  grid-area: 2 / 1 / 3 / 2;
}
.div17 {
  grid-area: 2 / 2 / 3 / 3;
}
.div18 {
  grid-area: 8 / 2 / 9 / 6;
}
.div19 {
  grid-area: 9 / 2 / 10 / 3;
}
.div20 {
  grid-area: 9 / 3 / 10 / 6;
}

.div1,
.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8,
.div9,
.div10,
.div11,
.div12,
.div13,
.div14,
.div15,
.div16,
.div17,
.div18,
.div19,
.div20 {
  border: 1px solid #ccc;
  padding: 10px;
  color: rgb(95, 95, 95);
  border-radius: 0px;
  text-align: right;
  justify-content: center;
}
.radioBtn {
  margin: 10px !important;
}

.btn-submit {
  margin-top: 10px;
  margin-left: 10px;
}

.mat-column-nameField,
.mat-column-qty,
.mat-column-measure,
.mat-column-unitPrice,
.mat-column-amount {
  font-weight: bold;
  font-size: 14px;
}
.mat-elevation-z8 {
  box-shadow: none !important;
}
.grid-container {
  display: grid;
  grid-template-columns: 2fr 0.1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 20px;
}
.grid1 {
  grid-area: 1 / 1 / 2 / 2;
}
.grid2 {
  grid-area: 1 / 2 / 2 / 3;
}
.grid3 {
  grid-area: 2 / 1 / 3 / 2;
}
.grid4 {
  grid-area: 2 / 2 / 3 / 3;
}
.grid5 {
  grid-area: 3 / 1 / 4 / 2;
}
.grid6 {
  grid-area: 3 / 2 / 4 / 3;
}
.grid7 {
  grid-area: 4 / 1 / 5 / 2;
}
.grid8 {
  grid-area: 4 / 2 / 5 / 3;
}
.grid1,
.grid2,
.grid3,
.grid4,
.grid5,
.grid6,
.grid7,
.grid8 {
  justify-self: end;
  color: rgb(48, 48, 48);
  font-weight: 600;
}
.grid2,
.grid4,
.grid6,
.grid8 {
  margin-right: 29px;
}
.grid6 {
  max-width: 30%;
}
.paying-layout {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 20px;
}

$table-header: #fff;
$table-header-border: #fff;
$table-border: #ccc;

div {
  box-sizing: border-box;
}
.table-container {
  display: block;
  margin: 2em auto;
}
.flex-table {
  display: flex;
  flex-flow: row wrap;

  &:first-of-type .flex-row {
    font-weight: 600;
    color: rgb(48, 48, 48);
  }
}

.flex-row {
  width: calc(100% / 6);
  text-align: center;
  padding: 0.5em 0.5em;
  border-bottom: solid 1px $table-border;
  color: rgb(104, 102, 102);
}

.rowspan {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-flow: column wrap;
  width: 95%;
  padding: 0;
  .flex-row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 0;
    border: 0;
    border-bottom: solid 1px $table-border;
    color: #ccc;
  }
}

.flex-cell {
  width: calc(100% / 3); //1px = border right
  text-align: center;
  padding: 0.5em 0.5em;
  //flex: 1 1 33.3%;
  &:last-child {
    border-right: 0px;
  }
}

@media all and (max-width: 767px) {
  .flex-row {
    width: calc(100% / 3); //1px = border right

    &.first {
      width: 100%;
    }
  }

  .column {
    width: 100%;
  }
}

@media all and (max-width: 430px) {
  .flex-table {
    .flex-row {
      border-bottom: 0;
    }
    .flex-row:last-of-type {
      border-bottom: solid 1px $table-border;
    }
  }

  .header {
    .flex-row {
      border-bottom: solid 1px;
    }
  }

  .flex-row {
    width: 100%; //1px = border right

    &.first {
      width: 100%;
      border-bottom: solid 1px $table-border;
    }
  }

  .column {
    width: 100%;
    .flex-row {
      border-bottom: solid 1px $table-border;
    }
  }

  .flex-cell {
    width: 100%; //1px = border right
  }
}
.btn-submit {
  background-color: #172647;
  color: #f4f2f1;
}
.icon-add-btn {
  color: rgb(48, 48, 48);
  margin-top: -7px;
}
.basis {
  flex-basis: 610px;
}
.flex-row.first {
  width: 7%;
}
.amount,
.vatPercent {
  margin-top: 20px;
  color: rgb(104, 102, 102);
}
.flex-row.nameField {
  width: 25%;
}
.vatReason {
  width: 52%;
}
.wayOfPaying {
  margin-top: 25px;
  width: 19%;
}
