mat-form-field {
  width: 100%;
}
mat-form-field,
input {
  font-size: 14px;
}

.flex-radio-group {
  display: flex;
  gap: 60px;
  row-gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.radio-btn {
  width: 27%;
}

@media all and (max-width: 980px) {
  .payment-radio {
    width: 35%;
  }
  .radio-type {
    width: 35%;
  }
}
