form {
  max-width: 90%;
  margin: 0 auto;
}
td {
  padding-right: 10px;
}
mat-icon {
  color: rgb(48, 48, 48);
}
mat-form-field {
  width: 100%;
}

mat-form-field,
input {
  font-size: 14px;
}
mat-card,
mat-expansion-panel {
  margin-top: 20px;
}
mat-icon {
  color: rgb(48, 48, 48);
}

.mdc-data-table__header-cell,
.mdc-data-table__cell {
  text-align: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
}
.input-container-flex {
  display: flex;
  gap: 1rem;
}
mat-label {
  display: inline-block;
}
.flex-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.flex-item {
  flex-grow: 1;
}
button {
  border: none;
  cursor: pointer;
  display: block;
}

button:hover {
  opacity: 0.8;
}
.btn-submit {
  margin-top: 10px;
  margin-left: 10px;
}

::ng-deep mat-expansion-panel.transparent {
  background: transparent;
}

::ng-deep mat-expansion-panel.transparent:not([class*='mat-elevation-z']) {
  box-shadow: none;
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      'col-1'
      'col-2';
  }
}
