<form [formGroup]="settingsForm">
  <div class="container">
    <div>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Данни на фирмата</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <mat-label>Име</mat-label>
            <input matInput formControlName="supplierName" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>ЕИК</mat-label>
            <input matInput formControlName="supplierEik" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>ДДС Номер</mat-label>
            <input matInput formControlName="supplierVatNumber" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>МОЛ</mat-label>
            <input matInput formControlName="supplierManager" />
            <button matSuffix class="search-btn" mat-icon-button color="" aria-label="search"
              matTooltip="Търсене от Базата">
              <mat-icon class="search-icon">person_add</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Населено място</mat-label>
            <input matInput formControlName="supplierCity" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Адрес</mat-label>
            <input matInput formControlName="supplierAddress" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>IBAN</mat-label>
            <input matInput formControlName="iban" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>BIC/SWIFT</mat-label>
            <input matInput formControlName="bicSwift" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Банка</mat-label>
            <input matInput formControlName="bank" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>ДДС по подразбиране %</mat-label>
            <input matInput formControlName="dds" />
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="flex-content">
      <mat-card class="flex-item">
        <mat-card-header>
          <mat-card-title>Начин на въвеждане</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-checkbox color="primary" formControlName="priceInputWithVat">
            Въвеждане на цените с ДДС
          </mat-checkbox>
        </mat-card-content>
      </mat-card>
      <mat-card class="flex-item">
        <mat-card-header>
          <mat-card-title>Разред</mat-card-title>
          <mat-card-subtitle>Цифри след десетичната запетая</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <mat-label>Количество</mat-label>
            <input type="number" class="form-control" matInput name="quantityNumber" formControlName="quantityNumber"
              min="0" max="5" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Единична цена</mat-label>
            <input type="number" class="form-control" matInput name="singlePriceNumber"
              formControlName="singlePriceNumber" min="0" max="5" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Обща цена</mat-label>
            <input type="number" class="form-control" matInput name="totalPriceNumber"
              formControlName="totalPriceNumber" min="0" max="5" />
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <mat-card class="flex-item">
        <mat-card-header>
          <mat-card-title>Начини на плащане</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>Изберете начин на плащане</mat-label>
            <mat-select formControlName="paymentMethod">
              @for(method of paymentMethodsList; track method){
              <mat-option [value]="method.id">{{ method.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <mat-card class="flex-item">
        <mat-card-header>
          <mat-card-title>Мерни единици</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="example-chip-list">
            <mat-form-field class="example-chip-list">
              <mat-chip-grid #chipGrid aria-label="Мерни единици">
                @for (tag of tags; track tag) {
                <mat-chip-row (removed)="remove(tag)">
                  {{ tag }}
                  <button matChipRemove [attr.aria-label]="'премахни ' + tag">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
                }
              </mat-chip-grid>
              <mat-label>Мерни единици</mat-label>
              <input placeholder="Нова мерна единица..." [formControl]="tagsCtrl" [matChipInputFor]="chipGrid"
                [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)" />
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                @for (chip of suggestedTags; track chip) {
                <mat-option [value]="chip">{{ chip }}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <mat-expansion-panel class="additional-settings">

    <mat-expansion-panel-header>
      Допълнителни настройки
    </mat-expansion-panel-header>

    <div class="flex-content">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Префикс
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <mat-label>Задаване на префикс</mat-label>
            <input matInput formControlName="prefix" />
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>

  </mat-expansion-panel>

  <button class="btn-submit" mat-raised-button (click)="onSubmit()">
    Изпрати
  </button>
</form>