<form [formGroup]="proformasForm" (ngSubmit)="onSubmit()">
  <!--SUPPLIER INFO-->
  <mat-card>
    <mat-card-content>
      <crtvs-base-form
        formControlName="receiver"
        [isNotSettings]="true"
        header="Получател"
      ></crtvs-base-form>
    </mat-card-content>
  </mat-card>
  <mat-card class="container">
    <mat-card-content>
      <crtvs-doc-type-form
        formControlName="details"
        [isInvoice]="false"
        [currencyList]="currencyList"
        [selectedCurrency]="selectedCurrency"
      >
      </crtvs-doc-type-form>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <crtvs-base-form-items
        formControlName="proforma_items"
        [selectedCurrency]="selectedCurrency"
      ></crtvs-base-form-items>
    </mat-card-content>
  </mat-card>
  <!--<mat-card>
      <mat-card-title>Банкови детайли</mat-card-title>
      <mat-form-field>
        <input matInput placeholder="IBAN" formControlName="iban" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="BIC/SWIFT" formControlName="bicSwift" />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Банка" formControlName="bankName" />
      </mat-form-field>
    </mat-card> -->
  <mat-card-actions>
    <button class="btn-submit" aria-label="изпрати формуляра" mat-raised-button>
      Изпрати
    </button>
  </mat-card-actions>
</form>
