/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.mat-elevation-z8 {
  background-color: #fff;
  padding: 20px;
}
.btn-add {
  float: right;
  margin: 50px 0 10px 0;
  background-color: #172647;
  color: #f4f2f1;
}
.btn-submit {
  background-color: #172647;
  color: #f4f2f1;
}
